body{
    background-color:rgb(57, 209, 209);
    margin: 100px;
    background-image: url('fundo.avif');
    background-size: cover;     
    
    background-repeat: no-repeat;/* Evita repetição */
    font-family: Arial, sans-serif;
    color: white; /* Deixa o texto visível se a imagem for escura */
}

center{
     background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o formulário */
    padding: 60px;
    border-radius: 10px;
}
input{
    background-color: rgb(245, 147, 147);
    border-radius: 20px;
}

button{
    height: 40px;
    width: 100px;
    border-radius:10px ;
    background-color: bisque;
}
select{
    border-radius: 20px ;
    background-color: rgb(245, 147, 147);
}